body {
    background-color: #ddd;
}
.header {
    background-color: orange;
    color: white;
    overflow: hidden;
}

/* 文章卡片效果 */
.card {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
}